<!DOCTYPE html>
<html xmlns:display="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta CHARSET="UTF-8">
    <title>Dodaj nowy sprzęt</title>
</head>
<body>
<h1>Dodaj nowy sprzęt</h1>
<div>
    <form action="/">
        <label>Numer ewidencyjny</label><input type="number" value="{{ domyslne['numer_ewidencyjny'] }}"/><br/>
        <label>Nazwa</label><input type="text"/><br/>
        <label>Producent</label><input type="text"/><br/>
        <label>Dodaj nowy typ?</label><input type="checkbox" id="nowy_typ_box" value="false"/><br/>

        <label>Typ</label>
        <select id="istniejacy_typ">
            {% for typ in typy %}
                <option value="{{ typ }}">{{ typ }}</option>
            {% endfor %}
        </select><br/>

        <input type="text" id="nowy_typ" style="display: none;/"><br/>

        <label>Data zakupu</label><input type="date" value="{{ domyslne['data_zakupu'] }}"/><br/>
        <label>Magazyn, w którym znajduje się sprzęt</label>
        <select>
            {% for magazyn in magazyny %}
                <option value="{{ magazyn['numer'] }}">Magazyn nr.{{ magazyn['numer'] }} w
                    oddziale {{ magazyn['oddzial'] }}</option>
            {% endfor %}
        </select><br/>
        <label>Dodaj uwagi do sprzętu</label><input type="checkbox" id="mam_uwagi" name="Dodaj uwagi do sprzętu"
                                                    value="false"/>
        <label id="uwagi_label" style="display:none">Uwagi do oprogramowania</label><input type="text" id="uwagi"
                                                                                           style="display:none"/><br/>
        <input type="submit" value="Potwierdź"/>
        <input type="submit" value="Anuluj"/>
    </form>
    <script>
        function hideShowField() {
            if (document.getElementById("mam_uwagi").checked === true) {
                document.getElementById("uwagi").style.display = 'block';
                document.getElementById("uwagi_label").style.display = 'block';
            }

            else {
                document.getElementById("uwagi").style.display = 'none';
                document.getElementById("uwagi_label").style.display = 'none';
            }
        }

        function hideShowFieldTyp() {
            if (document.getElementById("nowy_typ_box").checked === true) {
                document.getElementById("nowy_typ").style.display = 'block';
                document.getElementById("istniejacy_typ").style.display = 'none';

            }

            else {
                document.getElementById("nowy_typ").style.display = 'none';
                document.getElementById("istniejacy_typ").style.display = 'block';
            }
        }

        document.getElementById("mam_uwagi").onclick = function () {
            hideShowField();
        };
        document.getElementById("nowy_typ_box").onclick = function () {
            hideShowFieldTyp();
        }
    </script>

</div>
</body>
</html>
