<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta CHARSET="UTF-8">
    <title>Dodaj budynek</title>
</head>
<body>
<h1>Dodaj budynek</h1>
<div>
    <form action="/">
        <label>Adres</label><input type="text"/><br/>
        <label>Nazwa</label><input type="text"/><br/>
        <label>Liczba pięter</label><input type="number"/><br/>
        <label>Oddział, w którym znajduje się budynek</label>
        <select>
            {% for adres in oddzialy %}
                <option value="{{ adres }}">{{ adres }}</option>
            {% endfor %}
        </select><br/>
        <input type="submit" value="Potwierdź"/>
        <input type="submit" value="Anuluj"/>
    </form>
</div>
</body>
</html>
