{% extends "base.html" %}
{% block title %}Dodaj budynek{% endblock %}
{% block content %}
    <h1>Dodaj budynek</h1>
    <div>
        <form action="/">
            <label>Adres</label><input type="text"/><br/>
            <label>Nazwa</label><input type="text"/><br/>
            <label>Liczba pięter</label><input type="number"/><br/>
            <label>Oddział, w którym znajduje się budynek</label>
            <select>
                {% for adres in oddzialy %}
                    <option value="{{ adres }}">{{ adres }}</option>
                {% endfor %}
            </select><br/>
            <input type="submit" value="Potwierdź"/>
            <input type="submit" value="Anuluj"/>
        </form>
    </div>
{% endblock %}