{% extends "base.html" %}
{% block title %}Dodaj dział{% endblock %}
{% block content %}
<h1>Dodaj dział</h1>
<div>
    <form action="/">
        <label>Nazwa</label><input type="text"/><br/>
        <label>Skrót nazwy</label><input type="text"/><br/>
        <label>Oddział, do którego należy dział</label>
        <select>
            {% for adres in oddzialy %}
                <option value="{{ adres }}">{{ adres }}</option>
            {% endfor %}
        </select><br/>
        <input type="submit" value="Potwierdź"/>
        <input type="submit" value="Anuluj"/>
    </form>
</div>
{% endblock %}
