{% extends "base.html" %}
{% block title %}Dodaj magazyn{% endblock %}
{% block content %}
<h1>Dodaj magazyn</h1>
<div>
    <form action="/">
        <label>Numer magazynu</label><input type="number"/><br/>
        <label>Pojemność magazynu</label><input type="number"/><br/>
        <label>Oddział, w którym znajduje się magazyn</label>
        <select>
            {% for adres in oddzialy %}
                <option value="{{ adres }}">{{ adres }}</option>
            {% endfor %}
        </select><br/>
        <input type="submit" value="Potwierdź"/>
        <input type="submit" value="Anuluj"/>
    </form>
</div>
{% endblock %}