<!DOCTYPE html>
<html>
<head>
    <title>Dodaj pracownika</title>
</head>
<body>
<h1>Dodaj pracownika</h1>
<div>
    <form action="/">
        <label>PESEL</label><input type="text"/><br/>
        <label>Imię</label><input type="text"/><br/>
        <label>Nazwisko</label><input type="text"/><br/>
        <label>Numer telefonu</label><input type="tel"/><br/>
        <label>Adres email</label><input type="email"/><br/>
        <label>Dział</label>
        <select>
            {% for dzial in dzialy %}
                <option value="{{ dzial }}">{{ dzial }}</option>
            {% endfor %}
        </select><br/>
        <label>Biuro</label>
        <select>
            {% for biuro in biura %}
                <option value="{{ biuro }}">Biuro nr. {{ biuro['numer'] }} w {{ biuro['budynek'] }}</option>
            {% endfor %}
        </select><br/>
        <input type="submit" value="Potwierdź"/>
        <input type="submit" value="Anuluj"/>
    </form>
</div>
</body>
</html>
