{% extends "base.html" %}
{% from "macros.html" import flash_messages, render_field, data_delete_form %}
{% block title %}Edytuj oddział{% endblock %}
{% block content %}
    <h1>Edytuj oddział pod adresem {{ adres }}</h1>
    {{ flash_messages() }}
    <div id="data_input_form">
        <form action="{{ url_for('edit.edytuj_oddzial', adres=adres) }}" method=post>
            <fieldset>
                <legend>Edytuj oddział</legend>
                {{ form.hidden_tag() }}
                {{ render_field(form.address) }}
                {{ render_field(form.name) }}
                {{ render_field(form.submit) }}
            </fieldset>
        </form>
    </div>
    {{ data_delete_form(url_for('delete.usun_oddzial', adres=adres), 'Usuń oddział') }}
{% endblock %}