{% extends "base.html" %}
{% from "macros.html" import render_field, data_delete_form %}
{% block title %}Edytuj budynek{% endblock %}
{% block content %}
    <h1>Edytuj budynek pod adresem {{ adres }}</h1>
    <div id="data_input_form">
        <form action="{{ url_for('edit.edytuj_budynek', adres=adres) }}" method=post>
            <fieldset>
                <legend>Edytuj budynek</legend>
                {{ form.hidden_tag() }}
                {{ render_field(form.address) }}
                {{ render_field(form.name) }}
                {{ render_field(form.number_of_floors) }}
                {{ render_field(form.submit) }}
            </fieldset>
        </form>
    </div>
    {{ data_delete_form(url_for('delete.usun_budynek', adres=adres), 'Usuń budynek') }}
{% endblock %}