{% extends "base.html" %}
{% from "macros.html" import render_field, delete_with_custom_text %}
{% block title %}Edytuj pracownika{% endblock %}
{% block content %}
    <h1>Edytuj pracownika o numerze PESEL {{ pesel }}</h1>
    <div id="data_input_form">
        <form action="{{ url_for('edit.edytuj_pracownika', pesel=pesel) }}" method=post>
            <fieldset>
                <legend>Edytuj pracownika</legend>
                {{ form.hidden_tag() }}
                {{ render_field(form.pesel) }}
                {{ render_field(form.name) }}
                {{ render_field(form.surname) }}
                {{ render_field(form.phone_number) }}
                {{ render_field(form.email_address) }}
                {{ render_field(form.dept_name) }}
                {{ render_field(form.office_number) }}
                {{ render_field(form.is_still_working) }}
                {{ render_field(form.submit) }}
            </fieldset>
        </form>
    </div>
    {{ delete_with_custom_text(url_for('delete.usun_pracownika', pesel=pesel), 'Usuń pracownika',
        'Jesteś pewien? Usunięcie pracownika spowoduje również usunięcie jego kart dostępu oraz jego historii przypisań sprzętu.') }}
{% endblock %}