{% extends "base.html" %}
{% from "macros.html" import render_field, data_delete_form %}
{% block title %}Edytuj biuro{% endblock %}
{% block content %}
    <h1>Edytuj biuro o numerze {{ numer }}</h1>
    <div id="data_input_form">
        <form action="{{ url_for('edit.edytuj_biuro', numer=numer) }}" method=post>
            <fieldset>
                <legend>Edytuj biuro</legend>
                {{ form.hidden_tag() }}
                {{ render_field(form.number_of_posts) }}
                {{ render_field(form.building_address) }}
                {{ render_field(form.floor) }}
                {{ render_field(form.submit) }}
            </fieldset>
        </form>
    </div>
    {{ data_delete_form(url_for('delete.usun_biuro', numer=numer), 'Usuń biuro') }}
{% endblock %}