{% extends "base.html" %}
{% from "macros.html" import render_field, delete_with_custom_text %}
{% block title %}Edytuj biuro{% endblock %}
{% block content %}
    <h1>Edytuj biuro o numerze {{ numer }}</h1>
    <div id="data_input_form">
        <form action="{{ url_for('edit.edytuj_biuro', numer=numer) }}" method=post>
            <fieldset>
                <legend>Edytuj biuro</legend>
                {{ form.hidden_tag() }}
                {{ render_field(form.number) }}
                {{ render_field(form.number_of_posts) }}
                {{ render_field(form.building_address) }}
                <span title="Parter jest piętrem 0, więc jeśli w budynku jest 10 pięter, to dostępne są piętra 0-9.">
                {{ render_field(form.floor) }}
                </span>
                {{ render_field(form.submit) }}
            </fieldset>
        </form>
    </div>
    {{ delete_with_custom_text(url_for('delete.usun_biuro', numer=numer), 'Usuń biuro',
    'Jesteś pewien? Usunięcie biura spowoduje również usunięcie jego historii przypisań sprzętu oraz automatycznie odbierze pracownikom dostęp do niego.') }}
{% endblock %}