{% extends "base.html" %}
{% block title %}Informacje na temat sprzętu{% endblock %}
{% block content %}
    <h1>Informacje na temat sprzętu</h1>
    <label for="edit_mode_box">Włącz tryb edycji</label><input type="checkbox" id="edit_mode_box" value="false"/>
    <h1>Sprzęt typu {{ sprzet['typ'] }} o numerze {{ sprzet['numer'] }}</h1>
    <div>
        <h3>Dane</h3>
        <table>
            <thead>
            <tr>
                <td>Numer ewidencyjny</td>
                <td>Typ</td>
                <td>Nazwa</td>
                <td>Producent</td>
                <td>Data zakupu</td>
                <td>Stan/Położenie</td>
                <td>Uwagi</td>
            </tr>
            </thead>
            <tr>
                <td>{{ sprzet['numer'] }}</td>
                <td>{{ sprzet['typ'] }}</td>
                <td>{{ sprzet['nazwa'] }}</td>
                <td>{{ sprzet['producent'] }}</td>
                <td>{{ sprzet['data_zakupu'] }}</td>
                <td>
                    {% if sprzet['stan']['gdzie'] == 'pracownik' %}
                        Przpisany do pracownika
                        <a href="{{ url_for('show_info.pokaz_pracownik_info', pesel=sprzet['stan']['id']) }}">{{ sprzet['stan']['text'] }}</a>
                    {% elif sprzet['stan']['gdzie'] == 'biuro' %}
                        {#                        TODO: biuro#}
                    {% else %}
                        {#                    TODO: magazyn#}
                    {% endif %}
                </td>
                <td>{{ sprzet['uwagi'] }}</td>
                <td class="edit_mode_element">
                    <input type="submit" value="Edytuj">
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Zainstalowane oprogramowanie</h3>
        <form class="edit_mode_element" action="/">
            <input type="submit" value="Przypisz nowe oprogramowanie"></form>
        <table>
            <thead>
            <tr>
                <td>Numer ewidencyjny</td>
                <td>Nazwa</td>
                <td>Produdent</td>
                <td>Data zakupu</td>
                <td>Data wygaśnięcia licencji</td>
            </tr>
            </thead>
            {% for oprogramowanie in oprogramowania %}
                <tr>
                    <td>{{ oprogramowanie['numer'] }}</td>
                    <td>{{ oprogramowanie['nazwa'] }}</td>
                    <td>{{ oprogramowanie['producent'] }}</td>
                    <td>{{ oprogramowanie['data_zakupu'] }}</td>
                    <td>{{ oprogramowanie['data_wygasniecia'] }}</td>
                    <td>
                        <form action="{{ url_for('show_info.pokaz_oprogramowanie_info', numer_ewidencyjny=oprogramowanie['numer'])}}">
                            <input type="submit" value="Przejdź">
                        </form>
                    </td>
                    <td class="edit_mode_element">
                        <input type="submit" value="Edytuj">
                        <input type="submit" value="Oznacz jako odinstalowany">
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
{#    TODO: Historia przypisań#}
    </div>
    <script src="{{ url_for('static', filename='javascript/enter_edit_mode.js') }}"></script>
{% endblock %}