{% extends "base.html" %}
{% block title %}Informacje na temat pracownika{% endblock %}
{% block content %}
    <h1>Informacje na temat pracownika</h1>
    <label for="edit_mode_box">Włącz tryb edycji</label><input type="checkbox" id="edit_mode_box" value="false"/>
    <h1>{{ pracownik['imie'] }} {{ pracownik['nazwisko'] }}</h1>
    <div>
        <h3>Dane osobowe</h3>
        <table>
            <thead>
            <tr>
                <td>Pesel</td>
                <td>Imię</td>
                <td>Nazwisko</td>
                <td>Numer telefonu</td>
                <td>Czy nadal pracuje</td>
                <td>Adres email</td>
                <td>Dział</td>
                <td>Biuro</td>
            </tr>
            </thead>
            <tr>
                <td>{{ pracownik['pesel'] }}</td>
                <td>{{ pracownik['imie'] }}</td>
                <td>{{ pracownik['nazwisko'] }}</td>
                <td>{{ pracownik['numer_telefonu'] }}</td>
                <td>{{ pracownik['czy_nadal_pracuje'] }}</td>
                <td>{{ pracownik['adres_email'] }}</td>
                <td><a href="{{ url_for('pokaz_dzial_info', nazwa=pracownik['dzial']['nazwa']) }}">{{ pracownik['dzial']['skrot'] }}</a></td>
                <td>
                    <a href="{{ url_for('pokaz_biuro_info', numer_biura=pracownik['biuro']['numer']) }}">{{ pracownik['biuro']['numer'] }}</a>
                </td>
                <td class="edit_mode_element">
                    <input type="submit" value="Edytuj">
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Przyznany sprzęt</h3>
        <form class="edit_mode_element" action="{{ url_for("przypisz_sprzet", pesel=pracownik['pesel']) }}">
            <input type="submit" value="Przypisz nowy sprzęt">
        </form>
        <table>
            <thead>
            <tr>
                <td>Numer ewidencyjny</td>
                <td>Typ</td>
                <td>Nazwa</td>
                <td>Producent</td>
                <td>Data przyznania</td>
            </tr>
            </thead>
            {% for sprzet in sprzety %}
                <tr>
                    <td>{{ sprzet['numer'] }}</td>
                    <td>{{ sprzet['typ'] }}</td>
                    <td>{{ sprzet['nazwa'] }}</td>
                    <td>{{ sprzet['producent'] }}</td>
                    <td>{{ sprzet['data_przyznania'] }}</td>
                    <td>
                        <form action="{{ url_for('pokaz_sprzet_info', numer_ewidencyjny=sprzet['numer']) }}"><input
                                type="submit" value="Przejdź">
                        </form>
                    </td>
                    <td class="edit_mode_element">
                        <input type="submit" value="Edytuj">
                        <input type="submit" value="Zwróć sprzęt">
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h3>Karty dostępu</h3>
        <form class="edit_mode_element" action="/">
            <input type="submit" value="Przyznaj nową kartę"></form>
        {% for karta in karty_dostepu %}
            <form class="edit_mode_element" action="/">
                <input type="submit" value="Dodaj nowe prawo dostępu">
            </form>
            Karta o numerze {{ karta['id'] }} przyznana w dniu {{ karta['data_przyznania'] }}. <br/>
            <table>
                <thead>
                <tr>
                    <td>Data przyznania</td>
                    <td>Data wygaśnięcia</td>
                    <td>Numer biura</td>
                    <td>Budynek</td>
                </tr>
                </thead>
                {% for prawo in karta['prawa_dostepu'] %}
                    <tr>
                        <td>{{ prawo['data_przyznania'] }}</td>
                        <td>{{ prawo['data_wygasniecia'] }}</td>
                        <td>
                            <a href="{{ url_for('pokaz_biuro_info', numer_biura=prawo['biuro']['numer']) }}">{{ prawo['biuro']['numer'] }}</a>
                        </td>
                        <td><a href="{{ url_for('pokaz_budynek_info', adres=prawo['budynek']['adres']) }}">{{ prawo['budynek']['adres'] }}</a></td>
                        <td class="edit_mode_element"><input type="submit" value="Edytuj"></td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='javascript/enter_edit_mode.js') }}"></script>
{% endblock %}