{% extends "base.html" %}
{% block title %}Informacje na temat oprogramowania{% endblock %}
{% block content %}
    {% block header %}{% endblock %}
    <h1><a href="{{ url_for('strona_glowna') }}">Wybierz oddział</a></h1>
    <h1>Informacje na temat oprogramowania</h1>
    <label for="edit_mode_box">Włącz tryb edycji</label><input type="checkbox" id="edit_mode_box" value="false"/>
    <h1>Oprogramowanie  {{ oprogramowanie['nazwa'] }} o numerze {{ oprogramowanie['numer_ewidencyjny'] }}</h1>
    <div>
        <h3>Dane</h3>
        <table>
            <thead>
            <tr>
                <td>Numer ewidencyjny</td>
                <td>Nazwa</td>
                <td>Producent</td>
                <td>Data zakupu</td>
                <td>Data wygaśnięcia licencji</td>
                <td>Liczba licencji</td>
            </tr>
            </thead>
            <tr>
                <td>{{ oprogramowanie['numer_ewidencyjny'] }}</td>
                <td>{{ oprogramowanie['nazwa'] }}</td>
                <td>{{ oprogramowanie['producent'] }}</td>
                <td>{{ oprogramowanie['data_zakupu'] }}</td>
                <td>{{ oprogramowanie['data_wygasniecia'] }}</td>
                <td>{{ oprogramowanie['ilosc_licencji'] }}</td>
                <td class="edit_mode_element">
                    <form action="{{ url_for('edit.edytuj_oprogramowanie', numer_ewidencyjny=oprogramowanie['numer_ewidencyjny']) }}">
                        <input type="submit" value="Edytuj">
                    </form>
                </td>
            </tr>
        </table>
        <div>
            {% if oprogramowanie['uwagi'] %}
                <h4>
                    Uwagi odnośnie oprogramowania:<br/>
                    {{ oprogramowanie['uwagi'] }}
                </h4>
            {% endif %}
        </div>
    </div>
    <div>
        <h3>Sprzęt, na którym oprogramowanie jest zainstalowane</h3>
{#        <form class="edit_mode_element" action="/">#}
{#            <input type="submit" value="Przypisz nowe oprogramowanie"></form>#}
        <table>
            <thead>
            <tr>
                <td>Nazwa</td>
                <td>Producent</td>
                <td>Typ</td>
                <td>Numer ewidencyjny</td>
            </tr>
            </thead>
            {% for sprzet in sprzety %}
                <tr>
                    <td>{{ sprzet['nazwa'] }}</td>
                    <td>{{ sprzet['producent'] }}</td>
                    <td>{{ sprzet['typ'] }}</td>
                    <td>{{ sprzet['numer_ewidencyjny'] }}</td>
                    <td>
                        <form action="{{ url_for('show_info.pokaz_sprzet_info', numer_ewidencyjny=sprzet['numer_ewidencyjny']) }}"><input
                                type="submit" value="Przejdź">
                        </form>
                    </td>
                    <td class="edit_mode_element">
                        <form action="{{ url_for('edit.edytuj_sprzet', numer_ewidencyjny=sprzet['numer_ewidencyjny']) }}">
                            <input type="submit" value="Edytuj">
                        </form>
                    </td>
                    <td class="edit_mode_element">
                        <form action="{{ url_for('deassign.zwroc_oprogramowanie', numer_ewidencyjny=sprzet['numer_ewidencyjny']) }}">
                            <input type="submit" value="Oznacz dezinstalację">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{{ url_for('static', filename='javascript/enter_edit_mode.js') }}"></script>
{% endblock %}