{% extends "base.html" %}
{% block title %}Informacje na temat pracownika{% endblock %}
{% block content %}
    <h1>Informacje na temat pracownika</h1>
    <label for="edit_mode_box">Włącz tryb edycji</label><input type="checkbox" id="edit_mode_box" value="false"/>
    <h1>{{ pracownik['imie'] }} {{ pracownik['nazwisko'] }}</h1>
    <div>
        <h3>Dane osobowe</h3>
        <table>
            <thead>
            <tr>
                <td>Pesel</td>
                <td>Imię</td>
                <td>Nazwisko</td>
                <td>Numer telefonu</td>
                <td>Czy nadal pracuje</td>
                <td>Adres email</td>
                <td>Dział</td>
                <td>Biuro</td>
            </tr>
            </thead>
            <tr>
                <td>{{ pracownik['pesel'] }}</td>
                <td>{{ pracownik['imie'] }}</td>
                <td>{{ pracownik['nazwisko'] }}</td>
                <td>{{ pracownik['numer_telefonu'] }}</td>
                <td>{{ pracownik['czy_nadal_pracuje'] }}</td>
                <td>{{ pracownik['adres_email'] }}</td>
                <td>
                    <a href="{{ url_for('show_info.pokaz_dzial_info', nazwa=pracownik['dzial_nazwa']) }}">
                        {{ pracownik['dzial_nazwa'] }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('show_info.pokaz_biuro_info', numer_biura=pracownik['biuro_numer']) }}">
                        {{ pracownik['biuro_numer'] }}
                    </a>
                </td>
                <td class="edit_mode_element">
                    <form><input type="submit" value="Edytuj" formaction="{{ url_for('edit.edytuj_pracownika', pesel=pracownik['pesel']) }}"></form>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Karty dostępu</h3>
        <form class="edit_mode_element" action="{{ url_for('add.dodaj_karta', pesel=pracownik['pesel']) }}">
            <input type="submit" value="Przyznaj nową kartę">
        </form>

        <table>
            <thead>
                <tr>
                    <td>Id karty</td>
                    <td>Data przyznania</td>
                </tr>
            </thead>
            {% for karta in karty %}
            <tr>
                <td>{{karta['id_karty']}}</td>
                <td>{{karta['data_przyznania']}}</td>
                <td>
                    <form action="{{ url_for('show_info.pokaz_karta_dostepu_info', id_karty=karta['id_karty']) }}"><input
                            type="submit" value="Przejdź">
                    </form>
                </td>
                <td class="edit_mode_element">
                <form class="edit_mode_element" action="{{ url_for('assign.przypisz_prawo_dostepu_karta', pesel=pracownik['pesel'], id_karty=karta['id_karty']) }}">
                    <input type="submit" value="Dodaj nowe prawo">
                </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h3>Biura do których ma dostęp</h3>
        <table>
            <thead>
                <tr>
                    <td>Adres budynku</td>
                    <td>Piętro</td>
                    <td>Numer biura</td>
                    <td>Data przyznania</td>
                    <td>Data wygaśnięcia</td>
                </tr>
            </thead>
            {% for biuro in dostepne_biura %}
            <tr>
                <td>
                    <a href="{{ url_for('show_info.pokaz_budynek_info', adres=biuro['budynek_adres']) }}">
                        {{ biuro['budynek_adres'] }}
                    </a>
                </td>
                <td>{{biuro['pietro']}}</td>
                <td>{{biuro['numer']}}</td>
                <td>{{biuro['data_przyznania']}}</td>
                <td>{{biuro['data_wygasniecia']}}</td>
                <td>
                    <form action="{{ url_for('show_info.pokaz_biuro_info', numer_biura=biuro['numer']) }}"><input
                            type="submit" value="Przejdź">
                    </form>
                </td>
                <td class="edit_mode_element">
                <form action="{{ url_for('edit.edytuj_biuro', numer=biuro['numer']) }}">
                    <input type="submit" value="Edytuj">
                </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h3>Przypisania</h3>
        <form class="edit_mode_element" action="{{ url_for('assign.przypisz_sprzet_pracownik', pesel=pracownik['pesel']) }}">
            <input type="submit" value="Przydziel sprzęt"></form>
        {% for przypisanie in przypisania %}
            <div class="assignment">
                Przypisanie nr {{ przypisanie['id_przydzialu'] }} przydzielone: {{ przypisanie['data_przydzialu'] }}
            </div>
            <table>
                <thead>
                    <tr>
                        <td>Nazwa</td>
                        <td>Producent</td>
                        <td>Typ</td>
                        <td>Numer ewidencyjny</td>
                    </tr>
                </thead>
                {% for sprzet in przypisanie['hardware'] %}
                    <tr>
                        <td>{{sprzet['nazwa']}}</td>
                        <td>{{sprzet['producent']}}</td>
                        <td>{{sprzet['typ']}}</td>
                        <td>{{sprzet['numer_ewidencyjny']}}</td>
                        <td>
                            <form action="{{ url_for('show_info.pokaz_sprzet_info',
                            numer_ewidencyjny=sprzet['numer_ewidencyjny']) }}"><input
                                    type="submit" value="Przejdź">
                            </form>
                        </td>
                        <td class="edit_mode_element">
                        <form action="{{ url_for('edit.edytuj_sprzet',
                        numer_ewidencyjny=sprzet['numer_ewidencyjny']) }}">
                            <input type="submit" value="Edytuj">
                        </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
    <div>
        <h3>Przydzielone oprogramowania</h3>
        <table>
            <thead>
                <tr>
                    <td>Nazwa</td>
                    <td>Producent</td>
                </tr>
            </thead>
            {% for oprogramowanie in oprogramowania %}
            <tr>
                <td>{{oprogramowanie['nazwa']}}</td>
                <td>{{oprogramowanie['producent']}}</td>
                <td>
                    <form action="{{ url_for('show_info.pokaz_oprogramowanie_info',
                    numer_ewidencyjny=oprogramowanie['numer_ewidencyjny']) }}"><input
                            type="submit" value="Przejdź">
                    </form>
                </td>
                <td class="edit_mode_element">
                 <form action="{{ url_for('edit.edytuj_oprogramowanie', numer_ewidencyjny=oprogramowanie['numer_ewidencyjny']) }}">
                    <input type="submit" value="Edytuj">
                </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{{ url_for('static', filename='javascript/enter_edit_mode.js') }}"></script>
{% endblock %}