{% extends "base.html" %}
{% block title %}Informacje na temat biura{% endblock %}
{% block content %}
    <h1>Informacje na temat biura</h1>
    <label for="edit_mode_box">Włącz tryb edycji</label><input type="checkbox" id="edit_mode_box" value="false"/>
    <h1>Biuro numer {{ biuro['numer'] }} w budynku {{ budynek['adres'] }}</h1>
    <div>
        <h3>Informacje</h3>
        <table>
            <thead>
            <tr>
                <td>Numer</td>
                <td>Budynek</td>
                <td>Piętro</td>
                <td>Liczba stanowisk</td>
            </tr>
            </thead>
            <tr>
                <td>{{ biuro['numer'] }}</td>
                <td>
                    <a href="{{ url_for('show_info.pokaz_budynek_info', adres=budynek['adres']) }}">
                        {{ budynek['adres'] }}
                    </a>
                </td>
                <td>{{ biuro['pietro'] }}</td>
                <td>{{ biuro['liczba_stanowisk'] }}</td>
                <td class="edit_mode_element">
                <form action="{{ url_for('edit.edytuj_biuro', numer=biuro['numer']) }}">
                    <input type="submit" value="Edytuj">
                </form>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Pracownicy w biurze</h3>
        <form class="edit_mode_element" action="{{ url_for('add.dodaj_pracownika') }}">
            <input type="submit" value="Dodaj pracownika">
        </form>
        <table>
            <thead>
            <tr>
                <td>Imię</td>
                <td>Nazwisko</td>
                <td>Numer telefonu</td>
                <td>Adres email</td>
            </tr>
            </thead>
            {% for pracownik in pracownicy %}
                <tr>
                    <td>{{ pracownik['imie'] }}</td>
                    <td>{{ pracownik['nazwisko'] }}</td>
                    <td>{{ pracownik['numer_telefonu'] }}</td>
                    <td>{{ pracownik['adres_email'] }}</td>
                    <td>
                        <form action="{{ url_for('show_info.pokaz_pracownik_info', pesel=pracownik['pesel']) }}"><input
                                type="submit" value="Przejdź">
                        </form>
                    </td>
                    <td class="edit_mode_element">
                        <form action="{{ url_for('edit.edytuj_pracownika', pesel=pracownik['pesel']) }}">
                            <input type="submit" value="Edytuj">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h3>Przypisania</h3>
        <form class="edit_mode_element" action="{{ url_for("assign.przypisz_sprzet_biuro", numer_biura=biuro['numer']) }}">
            <input type="submit" value="Przypisz nowy sprzęt">
        </form>
        {% for przypisanie in przypisania %}
            <div class="assignment">
                Przypisanie nr {{ przypisanie['id_przydzialu'] }} przydzielone: {{ przypisanie['data_przydzialu'] }}
            </div>
            <table>
                <thead>
                    <tr>
                        <td>Nazwa</td>
                        <td>Producent</td>
                        <td>Typ</td>
                        <td>Numer ewidencyjny</td>
                    </tr>
                </thead>
                {% for sprzet in przypisanie['hardware'] %}
                <tr>
                    <td>{{sprzet['nazwa']}}</td>
                    <td>{{sprzet['producent']}}</td>
                    <td>{{sprzet['typ']}}</td>
                    <td>{{sprzet['numer_ewidencyjny']}}</td>
                    <td>
                        <form action="{{ url_for('show_info.pokaz_sprzet_info',
                        numer_ewidencyjny=sprzet['numer_ewidencyjny']) }}"><input
                                type="submit" value="Przejdź">
                        </form>
                    </td>
                    <td class="edit_mode_element">
                    <form action="{{ url_for('edit.edytuj_sprzet',
                    numer_ewidencyjny=sprzet['numer_ewidencyjny']) }}">
                        <input type="submit" value="Edytuj">
                    </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
    <div>
        <h3>Dostęp do biura</h3>
        <table>
            <thead>
            <tr>
                <td>Id karty</td>
                <td>Właściciel</td>
                <td>Data przyznania prawa</td>
                <td>Data wygaśnięcia prawa</td>
            </tr>
            </thead>
            {% for card in karty %}
                <tr>
                    <td>{{ card['id_karty'] }}</td>
                    <td>
                        <a href="{{ url_for('show_info.pokaz_pracownik_info', pesel=card['pracownik_pesel']) }}">
                            {{ card['pracownik_nazwisko'] }} {{ card['pracownik_imie'] }}
                        </a>
                    </td>
                    <td>{{ card['data_przyznania'] }}</td>
                    <td>{{ card['data_wygasniecia'] }}</td>
                    <td>
                        <form action="{{ url_for('show_info.pokaz_karta_dostepu_info', id_karty=card['id_karty']) }}">
                            <input type="submit" value="Przejdź">
                        </form>
                        <form action="{{ url_for('deassign.odbierz_prawo_dostepu', pesel=card['pracownik_pesel'], id_karty=card['id_karty']) }}">
                            <input type="submit" value="Odbierz prawo">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <script src="{{ url_for('static', filename='javascript/enter_edit_mode.js') }}"></script>
{% endblock %}