{% extends "base.html" %}
{% block title %}Informacje na temat działu{% endblock %}
{% block content %}
    <h1>Informacje na temat działu</h1>
    <label for="edit_mode_box">Włącz tryb edycji</label><input type="checkbox" id="edit_mode_box" value="false"/>
    <h1>Dział {{ dzial['nazwa'] }} w oddziale {{ dzial['oddzial']['adres'] }}</h1>
    <div>
        <h3>Informacje</h3>
        <table>
            <thead>
            <tr>
                <td>Nazwa</td>
                <td>Skrót</td>
                <td>Oddział</td>
            </tr>
            </thead>
            <tr>
                <td>{{ dzial['nazwa'] }}</td>
                <td>{{ dzial['skrot'] }}</td>
                <td><a href="{{ url_for('pokaz_oddzial_info', adres=dzial['oddzial']['adres']) }}">{{ dzial['oddzial']['adres'] }}</a></td>
                <td class="edit_mode_element">
                    <input type="submit" value="Edytuj">
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Pracownicy w dziale</h3>
        {#        <form class="edit_mode_element" action="{{ url_for("", pesel=dane_osobowe['pesel']) }}">#}
        {#            <input type="submit" value="Przypisz nowy sprzęt">#}
        {#        </form>#}
        <table>
            <thead>
            <tr>
                <td>PESEL</td>
                <td>Imię</td>
                <td>Nazwisko</td>
                <td>Numer telefonu</td>
                <td>Adres email</td>
            </tr>
            </thead>
            {% for pracownik in pracownicy %}
                <tr>
                    <td>{{ pracownik['pesel'] }}</td>
                    <td>{{ pracownik['imie'] }}</td>
                    <td>{{ pracownik['nazwisko'] }}</td>
                    <td>{{ pracownik['numer_telefonu'] }}</td>
                    <td>{{ pracownik['adres_email'] }}</td>
                    <td>
                        <form action="{{ url_for('pokaz_pracownik_info', pesel=pracownik['pesel']) }}"><input
                                type="submit" value="Przejdź">
                        </form>
                    </td>
                    <td class="edit_mode_element">
                        <input type="submit" value="Edytuj">
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{{ url_for('static', filename='javascript/enter_edit_mode.js') }}"></script>
{% endblock %}