{% extends "base.html" %}
{% block title %}Informacje na temat sprzętu{% endblock %}
{% block content %}
    <h1>Informacje na temat sprzętu</h1>
    <label for="edit_mode_box">Włącz tryb edycji</label><input type="checkbox" id="edit_mode_box" value="false"/>
    <h1>Sprzęt typu {{ sprzet['typ'] }} o numerze {{ sprzet['numer_ewidencyjny'] }}</h1>
    <div>
        <h3>Dane</h3>
        <table>
            <thead>
            <tr>
                <td>Numer ewidencyjny</td>
                <td>Typ</td>
                <td>Nazwa</td>
                <td>Producent</td>
                <td>Data zakupu</td>
            </tr>
            </thead>
            <tr>
                <td>{{ sprzet['numer_ewidencyjny'] }}</td>
                <td>{{ sprzet['typ'] }}</td>
                <td>{{ sprzet['nazwa'] }}</td>
                <td>{{ sprzet['producent'] }}</td>
                <td>{{ sprzet['data_zakupu'] }}</td>
                <td class="edit_mode_element">
                    <form action="{{ url_for('edit.edytuj_sprzet', numer_ewidencyjny=sprzet['numer_ewidencyjny']) }}">
                        <input type="submit" value="Edytuj">
                    </form>
                </td>
            </tr>
        </table>
        <div>
            {% if sprzet['uwagi'] %}
                <h4>
                    Uwagi odnośnie sprzętu:<br/>
                    {{ sprzet['uwagi'] }}
                </h4>
            {% endif %}
        </div>
    </div>
    <div>
        <h3>Zainstalowane oprogramowania</h3>
        <div class="edit_mode_element">
        <form action="{{ url_for('assign.przypisz_oprogramowanie', numer_ewidencyjny=sprzet['numer_ewidencyjny']) }}">
            <input type="submit" value="Przypisz nowe oprogramowanie">
        </form>
        <form action="{{ url_for('deassign.zwroc_oprogramowanie', numer_ewidencyjny=sprzet['numer_ewidencyjny']) }}">
            <input type="submit" value="Zwróć oprogramowanie">
        </form>
        </div>
        <table>
            <thead>
            <tr>
                <td>Nazwa</td>
                <td>Produdent</td>
                <td>Numer ewidencyjny</td>
            </tr>
            </thead>
            {% for oprogramowanie in oprogramowania %}
                <tr>
                    <td>{{ oprogramowanie['nazwa'] }}</td>
                    <td>{{ oprogramowanie['producent'] }}</td>
                    <td>{{ oprogramowanie['numer_ewidencyjny'] }}</td>
                    <td>
                        <form action="{{ url_for('show_info.pokaz_oprogramowanie_info',
                        numer_ewidencyjny=oprogramowanie['numer_ewidencyjny'])}}">
                            <input type="submit" value="Przejdź">
                        </form>
                    </td>
                    <td class="edit_mode_element">
                        <form action="{{ url_for('edit.edytuj_oprogramowanie',
                        numer_ewidencyjny=oprogramowanie['numer_ewidencyjny'])}}">
                            <input type="submit" value="Edytuj">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        <h3>Historia przypisań</h3>
        {% if sprzet['magazyn_numer'] %}
            <h4>
                Aktualnie przechowywany w magazynie nr {{ sprzet['magazyn_numer'] }}
            </h4>
        {% endif %}
        <table>
            <thead>
            <tr>
                <td>Id przydziału</td>
                <td>Data przydziału</td>
                <td>Data zwrotu</td>
                <td>Właściciel</td>
            </tr>
            </thead>
            {% for przypisanie in przypisania %}
                <tr>
                    <td>{{ przypisanie['id_przydzialu'] }}</td>
                    <td>{{ przypisanie['data_przydzialu'] }}</td>
                    <td>{{ przypisanie['data_zwrotu'] }}</td>
                    <td>
                        {% if przypisanie['pracownik_pesel'] %}
                            <a href="{{ url_for('show_info.pokaz_pracownik_info', pesel=przypisanie['pracownik_pesel']) }}">
                                {{ przypisanie['pracownik_nazwisko'] }} {{ przypisanie['pracownik_imie'] }}
                            </a>
                        {% elif przypisanie['biuro_numer'] %}
                            <a href="{{ url_for('show_info.pokaz_biuro_info', numer_biura=przypisanie['biuro_numer']) }}">
                                {{ przypisanie['biuro_numer'] }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    <script src="{{ url_for('static', filename='javascript/enter_edit_mode.js') }}"></script>
{% endblock %}