{% extends "base.html" %}
{% block title %}Informacje na temat sprzętu{% endblock %}
{% block content %}
    <h1>Informacje na temat sprzętu</h1>
    <label for="edit_mode_box">Włącz tryb edycji</label><input type="checkbox" id="edit_mode_box" value="false"/>
    <h1>Oprogramowanie  {{ oprogramowanie['nazwa'] }} o numerze {{ oprogramowanie['numer'] }}</h1>
    <div>
        <h3>Dane</h3>
        <table>
            <thead>
            <tr>
                <td>Numer ewidencyjny</td>
                <td>Nazwa</td>
                <td>Producent</td>
                <td>Data zakupu</td>
                <td>Data wygaśnięcia licencji</td>
                <td>Liczba licencji</td>
                <td>Uwagi</td>
            </tr>
            </thead>
            <tr>
                <td>{{ oprogramowanie['numer'] }}</td>
                <td>{{ oprogramowanie['nazwa'] }}</td>
                <td>{{ oprogramowanie['producent'] }}</td>
                <td>{{ oprogramowanie['data_zakupu'] }}</td>
                <td>{{ oprogramowanie['data_wygasniecia'] }}</td>
                <td>{{ oprogramowanie['liczba_licencji'] }}</td>
                <td>{{ oprogramowanie['uwagi'] }}</td>
                <td class="edit_mode_element">
                    <input type="submit" value="Edytuj">
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h3>Sprzęt, na którym oprogramowanie jest zainstalowane</h3>
{#        <form class="edit_mode_element" action="/">#}
{#            <input type="submit" value="Przypisz nowe oprogramowanie"></form>#}
        <table>
            <thead>
            <tr>
                <td>Numer ewidencyjny</td>
                <td>Typ</td>
                <td>Nazwa</td>
                <td>Producent</td>
            </tr>
            </thead>
            {% for sprzet in sprzety %}
                <tr>
                    <td>{{ sprzet['numer'] }}</td>
                    <td>{{ sprzet['typ'] }}</td>
                    <td>{{ sprzet['nazwa'] }}</td>
                    <td>{{ sprzet['producent'] }}</td>
                    <td>
                        <form action="{{ url_for('show_info.pokaz_sprzet_info', numer_ewidencyjny=sprzet['numer']) }}"><input
                                type="submit" value="Przejdź">
                        </form>
                    </td>
                    <td class="edit_mode_element">
                        <input type="submit" value="Edytuj">
                        <input type="submit" value="Oznacz dezinstalację">
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div>
{#    TODO: Historia instalacji#}
    </div>
    <script src="{{ url_for('static', filename='javascript/enter_edit_mode.js') }}"></script>
{% endblock %}