{% extends "base.html" %}
{% block title %}Lista działów{% endblock %}
{% block content %}
    <h1>Lista działów</h1>
    <label for="edit_mode_box">Włącz tryb edycji</label><input type="checkbox" id="edit_mode_box" value="false"/>
    <form class="edit_mode_element" action="{{ url_for('add.dodaj_dzial') }}">
        <input type="submit" value="Dodaj dział"/>
    </form>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <td>Nazwa</td>
                <td>Skrót nazwy</td>
                <td>Oddział</td>
            </tr>
            </thead>
            {% for dzial in dzialy %}
                <tr>
                    <td>{{ dzial['nazwa'] }}</td>
                    <td>{{ dzial['skrot']}}</td>
                    <td>
                        <a href="{{ url_for('show_info.pokaz_oddzial_info', adres=dzial['oddzial_adres']) }}">{{ dzial['oddzial_adres'] }}</a>
                    </td>
                    <td>
                        <form>
                            <input type="submit" value="Przejdź" formaction="{{ url_for('show_info.pokaz_dzial_info', nazwa=dzial['nazwa']) }}">
                        </form>
                    </td>
                    <td class="edit_mode_element">
                        <form>
                            <input type="submit" value="Edytuj" formaction="{{ url_for('edit.edytuj_dzial', nazwa=dzial['nazwa']) }}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{{ url_for('static', filename='javascript/enter_edit_mode.js') }}"></script>
{% endblock %}