{% extends "base.html" %}
{% block title %}Lista pracowników{% endblock %}
{% block content %}
    <h1>Lista pracowników</h1>
    <label for="edit_mode_box">Włącz tryb edycji</label><input type="checkbox" id="edit_mode_box" value="false"/>
    <form class="edit_mode_element" action="{{ url_for('add.dodaj_pracownika') }}">
        <input type="submit" value="Dodaj pracownika"/>
    </form>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <td>PESEL</td>
                <td>Nazwisko</td>
                <td>Imię</td>
                <td>Numer telefonu</td>
                <td>Czy nadal pracuje</td>
                <td>Adres email</td>
                {#<td>Oddział</td>#}
                <td>Dział</td>
                <td>Biuro</td>
            </tr>
            </thead>
            {% for pracownik in pracownicy %}
                <tr>
                    <td>{{ pracownik['pesel'] }}</td>
                    <td>{{ pracownik['nazwisko'] }}</td>
                    <td>{{ pracownik['imie'] }}</td>
                    <td>{{ pracownik['numer_telefonu'] }}</td>
                    <td>{{ pracownik['czy_nadal_pracuje'] }}</td>
                    <td>{{ pracownik['adres_email'] }}</td>
                    {#<td>
                        <a href="{{ url_for('show_info.pokaz_oddzial_info', adres=pracownik['oddzial_adres']) }}">
                        {{ pracownik['oddzial_adres'] }}</a>
                    </td>#}
                    <td>
                        <a href="{{ url_for('show_info.pokaz_dzial_info', nazwa=pracownik['dzial_nazwa']) }}">
                        {{ pracownik['dzial_skrot'] }}</a>
                    </td>
                    <td>
                        <a href="{{ url_for('show_info.pokaz_biuro_info', numer_biura=pracownik['biuro_numer']) }}">
                        {{ pracownik['biuro_numer'] }}</a>
                    </td>
                    <td>
                        <form action="{{ url_for('show_info.pokaz_pracownik_info', pesel=pracownik['pesel']) }}">
                            <input type="submit" value="Przejdź">
                        </form>
                    </td>
                    <td class="edit_mode_element">
                        <form>
                            <input type="submit" value="Edytuj" formaction="{{ url_for('edit.edytuj_pracownika', pesel=pracownik['pesel']) }}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{{ url_for('static', filename='javascript/enter_edit_mode.js') }}"></script>
{% endblock %}