{% extends "base.html" %}
{% block title %}Lista działów{% endblock %}
{% block content %}
    <h1>Lista magazynów</h1>
    <label for="edit_mode_box">Włącz tryb edycji</label><input type="checkbox" id="edit_mode_box" value="false"/>
    <form class="edit_mode_element" action="{{ url_for('add.dodaj_magazyn') }}">
        <input type="submit" value="Dodaj magazyn"/>
    </form>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <td>Numer</td>
                <td>Pojemność</td>
                <td>Oddział</td>
            </tr>
            </thead>
            {% for magazyn in magazyny %}
                <tr>
                    <td>{{ magazyn['numer'] }}</td>
                    <td>{{ magazyn['pojemnosc']}}</td>
                    <td>
                        <a href="{{ url_for('show_info.pokaz_oddzial_info', adres=magazyn['oddzial_adres']) }}">{{ magazyn['oddzial_adres'] }}</a>
                    </td>
                    <td>
                        <form>
                            <input type="submit" value="Przejdź" formaction="{{ url_for('show_info.pokaz_magazyn_info', numer=magazyn['numer']) }}">
                        </form>
                    </td>
                    <td class="edit_mode_element">
                        <form>
                            <input type="submit" value="Edytuj" formaction="{{ url_for('edit.edytuj_magazyn', numer=magazyn['numer']) }}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{{ url_for('static', filename='javascript/enter_edit_mode.js') }}"></script>
{% endblock %}