{% extends "base.html" %}
{% block title %}Lista sprzętu{% endblock %}
{% block content %}
    <h1>Lista sprzętu w magazynach</h1>
    <label for="edit_mode_box">Włącz tryb edycji</label><input type="checkbox" id="edit_mode_box" value="false"/>
    <form class="edit_mode_element" action="{{ url_for('add.dodaj_sprzet') }}">
        <input type="submit" value="Dodaj sprzęt"/>
    </form>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <td>Numer ewidencyjny</td>
                <td>Nazwa</td>
                <td>Typ</td>
                <td>Producent</td>
                <td>Data zakupu</td>
                <td>Numer magazynu</td>
            </tr>
            </thead>
            {% for sprzet in sprzety %}
                <tr>
                    <td>{{ sprzet['numer_ewidencyjny'] }}</td>
                    <td>{{ sprzet['nazwa']}}</td>
                    <td>{{ sprzet['typ']}}</td>
                    <td>{{ sprzet['producent'] }}</td>
                    <td>{{ sprzet['data_zakupu']}}</td>
                    <td><a href="{{ url_for('show_info.pokaz_magazyn_info', numer=sprzet['numer_magazynu']) }}">{{ sprzet['numer_magazynu'] }}</a></td>
                    <td>
                        <form>
                            <input type="submit" value="Przejdź" formaction="{{ url_for('show_info.pokaz_sprzet_info', numer_ewidencyjny=sprzet['numer_ewidencyjny']) }}">
                        </form>
                    </td>
                    <td class="edit_mode_element">
                        <form>
                            <input type="submit" value="Edytuj" formaction="{{ url_for('edit.edytuj_sprzet', numer_ewidencyjny=sprzet['numer_ewidencyjny']) }}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{{ url_for('static', filename='javascript/enter_edit_mode.js') }}"></script>
{% endblock %}