{% extends "base.html" %}
{% block title %}Informacje na temat pracownika{% endblock %}
{% block content %}
    <h1>Informacje na temat pracownika</h1>
    <label for="edit_mode_box">Włącz tryb edycji</label><input type="checkbox" id="edit_mode_box" value="false"/>
    <div class="table-container">
        <h1>{{ dane_osobowe['imie'] }} {{ dane_osobowe['nazwisko'] }}</h1>
        <h3>Dane osobowe</h3>
        <table>
            <thead>
            <tr>
                <td>Pesel</td>
                <td>Imię</td>
                <td>Nazwisko</td>
                <td>Numer telefonu</td>
                <td>Czy nadal pracuje</td>
                <td>Adres email</td>
                <td>Dział</td>
                <td>Biuro</td>
            </tr>
            </thead>
            <tr>
                <td>
                    {{ dane_osobowe['pesel'] }}
                </td>
                <td>
                    {{ dane_osobowe['imie'] }}
                </td>
                <td>
                    {{ dane_osobowe['nazwisko'] }}
                </td>
                <td>
                    {{ dane_osobowe['numer_telefonu'] }}
                </td>
                <td>
                    {{ dane_osobowe['czy_nadal_pracuje'] }}
                </td>
                <td>
                    {{ dane_osobowe['adres_email'] }}
                </td>
                <td>
                    <a href="/pracownicy/dzial/{{ dane_osobowe['dzial'] }}">{{ dane_osobowe['dzial'] }}</a>
                </td>
                <td>
                    <a href="/pracownicy/biuro/{{ dane_osobowe['biuro'] }}">{{ dane_osobowe['biuro'] }}</a>
                </td>
                <td class="edit_mode_element">
                    <input type="submit" value="Edytuj">
                </td>
            </tr>
        </table>

        <h3>Przyznany sprzęt</h3>
        <form class="edit_mode_element" action="{{ url_for("przypisz_sprzet", pesel=dane_osobowe['pesel']) }}">
            <input type="submit" value="Przypisz nowy sprzęt">
        </form>
        <table>
            <thead>
            <tr>
                <td>Numer ewidencyjny</td>
                <td>Typ</td>
                <td>Nazwa</td>
                <td>Producent</td>
                <td>Data przyznania</td>
            </tr>
            </thead>
            {% for sprzet in sprzety %}
                <tr>
                    <td>
                        {{ sprzet['numer'] }}
                    </td>
                    <td>
                        {{ sprzet['typ'] }}
                    </td>
                    <td>
                        {{ sprzet['nazwa'] }}
                    </td>
                    <td>
                        {{ sprzet['producent'] }}
                    </td>
                    <td>
                        {{ sprzet['data_przyznania'] }}
                    </td>
                    <td>
                        <form action="/pokaz_sprzet_info/{{ sprzet['numer'] }}"><input type="submit" value="Przejdź">
                        </form>
                    </td>
                    <td class="edit_mode_element">
                        <input type="submit" value="Edytuj">
                        <input type="submit" value="Zwróć sprzęt">
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h3>Karty dostępu</h3>
        <form class="edit_mode_element" style="display: none;" action="/"><input type="submit"
                                                                         value="Przyznaj nową kartę"></form>
        {% for karta in karty_dostepu %}
            <form class="edit_mode_element" style="display: none;" action="/"><input type="submit"
                                                                             value="Dodaj nowe prawo dostępu">
            </form>
            Karta o numerze {{ karta[0] }} przyznana w dniu {{ karta[1] }}. <br/>
            <table>
                <thead>
                <tr>
                    <td>Data przyznania</td>
                    <td>Data wygaśnięcia</td>
                    <td>Numer biura</td>
                    <td>Budynek</td>
                </tr>
                </thead>
                {% for prawo in karta[2] %}
                    <tr>
                        <td>{{ prawo['data_przyznania'] }}</td>
                        <td>{{ prawo['data_wygasniecia'] }}</td>
                        <td><a href="/pracownicy/{{ prawo['numer_biura'] }}">{{ prawo['numer_biura'] }}</a></td>
                        <td><a href="/biura/{{ prawo['budynek'] }}">{{ prawo['budynek'] }}</a></td>
                        <td class="edit_mode_element"><input type="submit" value="Edytuj"></td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
    <script src="{{ url_for('static', filename='javascript/enter_edit_mode.js') }}"></script>
{% endblock %}