{% extends "base.html" %}
{% block title %}Lista budynków{% endblock %}
{% block content %}
    <h1>Lista budynków</h1>
    <label for="edit_mode_box">Włącz tryb edycji</label><input type="checkbox" id="edit_mode_box" value="false"/>
    <form class="edit_mode_element" action="{{ url_for('add.dodaj_budynek') }}">
        <input type="submit" value="Dodaj budynek"/>
    </form>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <td>Adres</td>
                <td>Nazwa</td>
                <td>Liczba pięter</td>
                <td>Oddział</td>
            </tr>
            </thead>
            {% for budynek in budynki %}
                <tr>
                    <td>{{ budynek['adres'] }}</td>
                    <td>{{ budynek['nazwa']}}</td>
                    <td>{{ budynek['liczba_pieter']}}</td>
                    <td>
                        <a href="{{ url_for('show_info.pokaz_oddzial_info', adres=budynek['oddzial']['adres']) }}">{{ budynek['oddzial']['adres'] }}</a>
                    </td>
                    <td>
                        <form action="{{ url_for('show_info.pokaz_budynek_info', adres=budynek['adres']) }}">
                            <input type="submit" value="Przejdź">
                        </form>
                    </td>
                    <td class="edit_mode_element">
                        <form>
                            <input type="submit" value="Edytuj">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{{ url_for('static', filename='javascript/enter_edit_mode.js') }}"></script>
{% endblock %}