{% extends "base.html" %}
{% block title %}Informacje na temat sprzętu{% endblock %}
{% block content %}
    <h1>Informacje na temat sprzętu</h1>
    <label for="edit_mode_box">Włącz tryb edycji</label><input type="checkbox" id="edit_mode_box" value="false"/>
    <div class="table-container">
        <h1>{{ dane['typ'] }} o numerze {{ dane['numer_ewidencyjny'] }}</h1>
        <h3>Dane</h3>
        <table>
            <thead>
            <tr>
                <td>Numer ewidencyjny</td>
                <td>Typ</td>
                <td>Nazwa</td>
                <td>Producent</td>
                <td>Data zakupu</td>
                <td>Stan/Położenie</td>
                <td>Uwagi</td>
            </tr>
            </thead>
            <tr>
                <td>
                    {{ dane['numer_ewidencyjny'] }}
                </td>
                <td>
                    {{ dane['typ'] }}
                </td>
                <td>
                    {{ dane['nazwa'] }}
                </td>
                <td>
                    {{ dane['producent'] }}
                </td>

                <td>
                    {{ dane['data_zakupu'] }}
                </td>
                <td>
                    Przpisany do pracownika <a href="/pokaz_pracownik_info/0">{{ dane['stan'] }}</a>
                    <!--TODO: Inaczej to przekazywać, oczywiście -->
                </td>
                <td>
                    {{ dane['uwagi'] }}
                </td>
                <td class="edit_mode_element">
                    <input type="submit" value="Edytuj">
                </td>
            </tr>
        </table>

        <h3>Zainstalowane oprogramowanie</h3>
        <form class="edit_mode_element" action="/"><input type="submit"
                                                                         value="Przypisz nowe oprogramowanie"></form>
        <table>
            <thead>
            <tr>
                <td>Numer ewidencyjny</td>
                <td>Nazwa</td>
                <td>Produdent</td>
                <td>Data zakupu</td>
                <td>Data wygaśnięcia licencji</td>
            </tr>
            </thead>
            {% for software in softwares %}
                <tr>
                    <td>
                        {{ software['numer'] }}
                    </td>
                    <td>
                        {{ software['nazwa'] }}
                    </td>
                    <td>
                        {{ software['producent'] }}
                    </td>
                    <td>
                        {{ software['data_zakupu'] }}
                    </td>
                    <td>
                        {{ software['data_wygasniecia'] }}
                    </td>
                    <td>
                        <form action="/"><input type="submit" value="Przejdź"></form>
                    </td>
                    <td class="edit_mode_element">
                        <input type="submit" value="Edytuj">
                        <input type="submit" value="Oznacz jako odinstalowany">
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{{ url_for('static', filename='javascript/enter_edit_mode.js') }}"></script>
{% endblock %}