{% extends "base.html" %}
{% block title %}Lista oddziałów{% endblock %}
{% block content %}
    {% block header %}{% endblock %}
    <h1>Lista oddziałów</h1>
    <label for="edit_mode_box">Włącz tryb edycji</label><input type="checkbox" id="edit_mode_box" value="false"/>
    <form class="edit_mode_element" action="{{ url_for('add.dodaj_oddzial') }}">
        <input type="submit" value="Dodaj oddział"/>
    </form>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <td>Adres</td>
                <td>Nazwa</td>
            </tr>
            </thead>
            {% for oddzial in oddzialy %}
                <tr>
                    <td>{{ oddzial['adres'] }}</td>
                    <td>{{ oddzial['nazwa'] }}</td>
                    <td>
                        <form>
                            <input type="submit" value="Przejdź" formaction="{{ url_for('wybierz_oddzial', adres=oddzial['adres']) }}">
                        </form>
                    </td>
                    <td class="edit_mode_element">
                        <form>
                            <input type="submit" value="Edytuj" formaction="{{ url_for('edit.edytuj_oddzial', adres=oddzial['adres']) }}">
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script src="{{ url_for('static', filename='javascript/enter_edit_mode.js') }}"></script>
{% endblock %}