{% extends "base.html" %}
{% block title %}{{ site_data['title'] }}{% endblock %}
{% block content %}
    <h1>{{ site_data['title'] }}</h1>
    <label for="edit_mode_box">Włącz tryb edycji</label><input type="checkbox" id="edit_mode_box" value="false"/>
    <form class="edit_mode_element" action="{{ site_data['add_new_button_link'] }}"><input type="submit"
                                                                                                         value="{{ site_data['add_new_button_text'] }}"/>
    </form>
    <div class="table-container">
        {% if col_names != null %}
            <table>
                <thead>
                <tr>
                    {% for col_name in col_names %}
                        <td>{{ col_name }}</td>
                    {% endfor %}
                </tr>
                </thead>
                {% for row in rows %}
                    <tr>
                        {% for element in row %}
                            <td>{{ element }}</td>
                        {% endfor %}
                        <td>
                            {% if site_data['title'].split(' ')[0] == 'Pracownicy' %}
                                <form action="{{ site_data['goto_site'] + '/' + rows.index(row).__str__() }}"><input
                                        type="submit" value="Przejdź"></form>
                            {% else %}
                                <form action="{{ site_data['goto_site'] }}"><input type="submit" value="Przejdź"></form>
                            {% endif %}
                        </td>
                        <td class="edit_mode_element">
                            <form>
                                <input type="submit" value="Edytuj">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='javascript/enter_edit_mode.js') }}"></script>
{% endblock %}