{% extends "base.html" %}
{% from "macros.html" import flash_messages, render_field %}
{% block title %}Dodaj biuro{% endblock %}
{% block content %}
    <h1>Dodaj biuro</h1>
    {{ flash_messages() }}
    <div id="data_input_form">
        <form action="{{ url_for('add.dodaj_biuro') }}" method=post>
            <fieldset>
                <legend>Dodaj biuro</legend>
                {{ form.hidden_tag() }}
                {{ render_field(form.number_of_posts) }}
                {{ render_field(form.building_address) }}
                {{ render_field(form.floor) }}
                {{ render_field(form.submit) }}
            </fieldset>
        </form>
    </div>
{% endblock %}