{% extends "base.html" %}
{% from "macros.html" import render_field %}
{% block title %}Dodaj budynek{% endblock %}
{% block content %}
    <h1>Dodaj budynek</h1>
    <div id="data_input_form">
        <form action="{{ url_for('add.dodaj_budynek') }}" method=post>
            <fieldset>
                <legend>Dodaj budynek</legend>
                {{ form.hidden_tag() }}
                {{ render_field(form.address) }}
                {{ render_field(form.name) }}
                <span title="Parter jest piętrem 0, więc jeśli w budynku jest 10 pięter, to dostępne są piętra 0-9.">
                {{ render_field(form.number_of_floors) }}
                </span>
                {#{{ render_field(form.branch_address) }}#}
                {{ render_field(form.submit) }}
            </fieldset>
        </form>
    </div>
{% endblock %}