{% extends "base.html" %}
{% from "macros.html" import flash_messages, render_field %}
{% block title %}Dodaj dział{% endblock %}
{% block content %}
    <h1>Dodaj dział</h1>
    {{ flash_messages() }}
    <div id="data_input_form">
        <form action="{{ url_for('add.dodaj_dzial') }}" method=post>
            <fieldset>
                <legend>Dodaj dział</legend>
                {{ form.hidden_tag() }}
                {{ render_field(form.name) }}
                {{ render_field(form.short_name) }}
                {{ render_field(form.branch_address) }}
                {{ render_field(form.submit) }}
            </fieldset>
        </form>
    </div>
{% endblock %}