{% extends "base.html" %}
{% block title %}Przypisz oprogramowanie{% endblock %}
{% block content %}
<h1>Przypisz oprogramowanie do sprzętu</h1>
<div id="hardware_info">
<table>
    <thead>
    <tr>
        <td>Numer ewidencyjny</td>
        <td>Typ</td>
        <td>Nazwa</td>
        <td>Producent</td>
        <td>Data zakupu</td>
        <td>Stan / położenie</td>
    </tr>
    </thead>
    <tr>
        <td>{{ sprzet['numer'] }}</td>
        <td>{{ sprzet['typ'] }}</td>
        <td>{{ sprzet['nazwa'] }}</td>
        <td>{{ sprzet['producent'] }}</td>
        <td>{{ sprzet['data_zakupu'] }}</td>
        <td>{{ sprzet['stan'] }}</td>
    </tr>
</table>
</div>

<span title="Lista zawiera tylko oprogramowanie, które posiada wolne licenjce oraz jescze nie wygasło">
<h3>Dostępne oprogramowanie</h3></span>
<div id="available_software">
<form id="software_to_install" name="software_to_install" action="{{ url_for('assign.wykonaj_przypisz_oprogramowanie', numer_ewidencyjny = sprzet['numer']) }}" method="post">
<table>
    <thead>
    <tr>
        <td>Numer ewidencyjny</td>
        <td>Nazwa</td>
        <td>Producent</td>
        <td>Data zakupu</td>
        <td>Data wygaśnięcia</td>
        <td>Liczba licencji</td>
        <td>Wybierz</td>
    </tr>
    </thead>

    {% for oprogramowanie in dostepne_oprogramowanie %}
    <tr>
        <td>{{ oprogramowanie['numer'] }}</td>
        <td>{{ oprogramowanie['nazwa'] }}</td>
        <td>{{ oprogramowanie['producent'] }}</td>
        <td>{{ oprogramowanie['data_zakupu'] }}</td>
        <td>{{ oprogramowanie['data_wygasniecia'] }}</td>
        <td>{{ oprogramowanie['liczba_licencji'] }}</td>
        <td><input type="checkbox" name="chosen_software" value="{{ oprogramowanie['numer'] }}"></td>
    </tr>
    {% endfor %}
</table>
<br/>
<input type="submit" value="Zatwierdź">
</form>
</div>
{% endblock %}