{% extends "base.html" %}
{% block title %}Przypisz sprzęt{% endblock %}
{% block content %}
    <h1>{{ tytul }}</h1>
    <div>
        <form action="{{ post_adres }}" autocomplete="off" method="post">
            {% if przypisania %}
            <span title="Zaznacz jeśli chcesz utworzyć nowe przypisanie. Pozostaw niezaznaczone aby dodać nowy sprzęt do istniejącego przypisania."><label for="new_assignment_checkbox">Nowe przypisanie?</label></span>
            <input type="checkbox" id="new_assignment_checkbox" name="new_assignment_checkbox"><br/>
            {# If the user has any current assignments #}
            <div id="new_assignment" style="display: none">
                <label for="assignment_date">Data przypisania</label>
                <input type="date" id="assignment_date" name="assignment_date_box"/><br/>
            </div>
            <select id="old_assignment" name="old_assignment_box">
                {% for przypisanie in przypisania %}
                    <option value="{{ przypisanie['id'] }}">Numer {{ przypisanie['id'] }} przyznane {{ przypisanie['data_przydzialu'] }}</option>
                {% endfor %}
            </select>
            {% else %}
            <input type="checkbox" name="new_assignment_checkbox" checked="checked" style="display: none"> {# Hidden checkbox #}
            <div>
                <label for="assignment_date">Data przypisania</label>
                <input type="date" id="assignment_date" name="assignment_date_box"/><br/>
            </div>
            {% endif %}

            <table>
                <thead>
                <tr>
                    <td>Numer ewidencyjny</td>
                    <td>Typ</td>
                    <td>Nazwa</td>
                    <td>Producent</td>
                    <td>Data zakupu</td>
                    <td>Numer magazynu</td>
                    <td>Wybierz</td>
                </tr>
                </thead>
                {% for sprzet in sprzety %}
                    <tr>
                        <td>{{ sprzet['numer'] }}</td>
                        <td>{{ sprzet['typ'] }}</td>
                        <td>{{ sprzet['nazwa'] }}</td>
                        <td>{{ sprzet['producent'] }}</td>
                        <td>{{ sprzet['data_zakupu'] }}</td>
                        <td>{{ sprzet['numer_magazynu'] }}</td>
                        <td><input type="checkbox" title="Wybierz" name="hardware" value="{{ sprzet['numer'] }}"/></td>
                    </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Potwierdź"/>
        </form>
    </div>
    <script>
        function hideShowField() {
            if (document.getElementById("new_assignment_checkbox").checked === true) {
                document.getElementById('new_assignment').style.display = 'block';
                document.getElementById("old_assignment").style.display = 'none';
            }
            else {
                document.getElementById("new_assignment").style.display = 'none';
                document.getElementById("old_assignment").style.display = 'block';
            }
        }

        document.getElementById("new_assignment_checkbox").onclick = function () {
            hideShowField();
        };
    </script>
{% endblock %}