/*TODO: Trzeba wybrać sobie jakąś fajną paletę kolorystyczną.*/

body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: gainsboro;
    font-size: 13px;
}

table {
    border: 5px solid black;
}

td {
    border: 2px solid black;
    padding: 10px;
}

thead {
    background-color: darkgray;
    font-weight: 700;
}

.table-container {
    margin: 20px;
}

.navigation-container {
    width: 800px;
    margin-bottom: 30px;
}

button {
    margin: 20px;
    width: 120px;
}

.edit_mode_element {
    display: none;
}

#navigation_panel {
    background-color: #ffffff;
    list-style-type: none;
}

.navigation_panel_element {
    float: left;
}

.navigation_panel_element .navigation_panel_link {
    display: block;
    color: #111143;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #f6f6f6f6;
}

.navigation_panel_element .navigation_panel_link:hover {
    background-color: #ffffff;
}