a {
    color: inherit;
}

body {
    /*margin: 0;*/
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: gainsboro;
    font-size: 13px;
    width: 90%;
    margin: auto;
}

.content {
}

table {
    border: 5px solid black;
    margin-bottom: 10px;
}

td {
    border: 2px solid black;
    padding: 10px;
}

thead {
    background-color: darkgray;
    font-weight: 700;
}

.table-container {
    margin: 20px;
}

button {
    margin: 20px;
    width: 120px;
}

.edit_mode_element {
    display: none;
}

#navigation_container {
    margin-bottom: 50px;
    padding-bottom: 30px;
}

#navigation_panel {
    background-color: #ffffff;
    list-style-type: none;
}

.navigation_panel_element {
    float: left;
}

.navigation_panel_element .navigation_panel_link {
    display: block;
    color: #111143;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #f6f6f6f6;
}

.navigation_panel_element .navigation_panel_link:hover {
    background-color: #ffffff;
}

#footer {
    margin-top: 50px;
}

.single_flashed_message {
    font-size: 30px;
    font-weight: bold;
    color: #b73939;
    background-color: #8a584d3d;
    padding: 10px;
    margin-bottom: 20px;
    border-width: 10px;
    border-style: solid;
}

.single_flashed_message.succes {
    color: forestgreen;
    background-color: lightgreen;
}

h4 {
    color: saddlebrown;
}

.assignment {
    font-size: 15px;
    font-weight: 600;
    border: 5px solid black;
    width: fit-content;
    border-bottom: 0;
    padding: 8px;
    background: darkgrey;
}