<!doctype html>
<html lang="pl-PL">
<head>
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <meta CHARSET="UTF-8">
        <title>{% block title %}Inventory Manager{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div id="header">
    {% block header %}
        <div>
            <ul id="navigation_panel">
                <li class="navigation_panel_element">
                    <a href="{{ url_for('oddzialy') }}" class="navigation_panel_link">Oddziały</a>
                </li>
                <li class="navigation_panel_element">
                    <a href="{{ url_for('dzialy') }}" class="navigation_panel_link">Działy</a>
                </li>
                <li class="navigation_panel_element">
                    <a href="{{ url_for('budynki') }}" class="navigation_panel_link">Budynki</a>
                </li>
                <li class="navigation_panel_element" >
                    <a href="{{ url_for('biura') }}" class="navigation_panel_link">Biura</a>
                </li>
                <li class="navigation_panel_element">
                    <a href="{{ url_for('magazyny') }}" class="navigation_panel_link">Magazyny</a>
                </li>
                <li class="navigation_panel_element">
                    <a href="{{ url_for('pracownicy') }}" class="navigation_panel_link">Pracownicy</a>
                </li>
            </ul>
        </div><br/><br/>
    {% endblock %}
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
<div id="footer">
    {% block footer %}
        &copy; Copyright 2019 by <a href="https://www.github.com/kamkow10">Kamil Kowalczyk</a> & <a
            href="https://www.github.com/PiotrJTomaszewski">Piotr Tomaszewski</a>.
    {% endblock %}
</div>
</body>
</html>
